/**
 * Do not overwrite the below CSS
 * If you want to add your own styling for the navigation add your own file
 */

.navigation-reducible-wrap {
    position: relative;
}

/**
 * Navigation Reducible Wrapper
 */
.navigation-reducible {
    font-family: Arial, Helvetica, sans-serif;
}
.navigation-reducible--minimized {
    width: 0;
}

/**
 * Navigation Horizontal
 */
.navigation-horizontal {
    color: #333;
    font-size: 14px;
    font-weight: 600;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    white-space: nowrap;
}
.navigation-horizontal__item-container--visible {
    display: inline-block;
}
.navigation-horizontal__item-container--hidden {
    display: block;
}
.navigation-horizontal__navigation-item {
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 15px 14px 16px;
}
.navigation-horizontal__navigation-item:hover {
    color: #333;
}
.navigation-horizontal__navigation-item--active {
    color: #333;
    font-weight: 400;
}

/**
 * Navigation Dropdown
 */
.navigation-dropdown {
    background: #FFF;
    box-shadow: 0 0 2px 0px #c2c2c2;
    color: #333;
    display: none;
    font-size: 12px;
    font-weight: 500;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
    text-transform: uppercase;
    z-index: 2;
}
.navigation-dropdown--active {
    display: block;
}
.navigation-dropdown__navigation-item {
    padding: 10px;
}

/**
 * Dropdown button
 */
 .dropdown-button {
    background: #333;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    height: calc(100% + 2px);
    line-height: 52px;
    margin-top: -1px;
    padding: 0 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}
.navigation-reducible--minimized .dropdown-button--left {
    left: 0;
    right: auto;
}
.navigation-reducible--minimized .dropdown-button--left + .navigation-dropdown {
    left: 0;
    right: auto;
}
/**
 * Button shadow in front of button
 */
.dropdown-button:after {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    content: "";
    height: 100%;
    position: absolute;
    right: 100%;
    width: 40px;
}
